*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(dforest.jpg);
    background-size: cover;
}

.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    width: 200px;
    height: 200px;
    margin-top: -30px;
    margin-left: -40px;
    background-image: url(logo.png);
    background-size: cover;
    user-select: none;
}

.logo .heading1{
    font-weight: 800;
    padding-top: 85%;
    padding-left: 30%;
    color: #fff;
}

.logo .heading2{
    font-weight: 800;
    display: flex;
    padding-left: 12%;
    color: #fff;
}

.logo .heading2 p{
    font-family:'Trebuchet MS';
    color: rgb(159, 0, 0);
    padding-top: 3px;
    font-weight: 900;
    font-size: 40px;
}

.navigator a{
    position: relative;
    font-size: 1.1em;
    color: #fffdfd;
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
}

.navigator a:active{
    cursor: wait;
}

.navigator a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transform: transform 0.5s;
}

.navigator a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigator .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
    margin-left: 40px;
    transition: -5s;
}

.navigator .btnlogin-popup:hover{
    background: #fff;
    color: #162938;
}

.wrapper{
    position: relative;
    width: 440px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #12212d;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .form-box i{
    position: fixed;
    font-size: 30px;
    top: 25px;
    left: 27%;
    color: #162938;
}

.wrapper .form-box h2{
    position: fixed;
    top: 5%;
    left: 30%;
    font-size: 2em;
    color: #162938;
}

.wrapper .form-box h4{
    text-align: center;
    margin-top: 50px;
}

.contactform{
    margin-left: -10px;
    width: 100%;
    padding: 10px;
    background: transparent;
}

.contactform h3{
    font-size: 20px;
    color: #162938;
}

.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputbox input{
    width: 100%;
    padding: 10px 0;
    font-size: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #162938;
    background: transparent;
    outline: none;
}
.contactform .inputbox textarea{
    width: 100%;
    font-size: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #162938;
    background: transparent;
    outline: none;
}

.contactform .inputbox span{
    position: absolute;
    left: 0%;
    bottom: 27%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #162938;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:focus ~ span{
    color: #12212d;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .submit{
    width: 100%;
    background-color: #12212d;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}